<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="next-head-count" content="2"><noscript data-n-css=""></noscript>
  <title>Playground</title>
  <link rel="icon" type="image/x-icon" href="https://soqa-web.herokuapp.com/images/favicon.ico.ico">
  <link rel="stylesheet" href="https://soqa-web.herokuapp.com/styles/theme.css">
  <link rel="stylesheet" href="https://soqa-web.herokuapp.com/styles/chat.css">
  <link rel="stylesheet" href="https://tranquil-springs-69938.herokuapp.com/styles/switch.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="__next">
    <div class="bg-background overflow-hidden">
      <div class="relative bg-background">
        <div class="max-w-7xl mx-auto">
          <div class="relative z-10 pb-8 bg-background sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"><svg
              class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-background transform translate-x-1/2"
              fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
              <polygon points="50,0 100,0 50,100 0,100"></polygon>
            </svg>
            <div>
              <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                  <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                    <div class="flex items-center justify-between w-full md:w-auto"><a
                        href="https://soqa-web.herokuapp.com/"><span class="sr-only">SOQA the Intelligent Bot</span><img
                          alt="logo" class="h-16 w-auto sm:h-16"
                          src="https://soqa-web.herokuapp.com/images/logo.png"></a>
                      <div class="-mr-2 flex items-center md:hidden"><button
                          class="bg-background rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary"
                          id="headlessui-popover-button-1" type="button" aria-expanded="false"><span
                            class="sr-only">Open main menu</span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"></path>
                          </svg></button></div>
                    </div>
                  </div>
                  <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
                    <!-- <a active="active"
                      class="font-medium text-gray-500 hover:text-gray-900">Product</a><a active="active"
                      class="font-medium text-gray-500 hover:text-gray-900">Features</a><a active="active"
                      class="font-medium text-gray-500 hover:text-gray-900">Pricing</a><a active="active"
                      class="font-medium text-gray-500 hover:text-gray-900">About</a> -->
                    <a href="#" class="font-medium text-primary hover:text-secondary">Call to action</a>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1
        class="text-4xl tracking-tight text-gray-900 font-bold sm:text-5xl md:text-6xl flex flex-col items-center justify-center">
        <span class="block xl:inline">Playground:</span> <span class="block text-primary xl:inline">The Philosphy
          Bot</span>
      </h1>
      </h1>
      <div class="w-full mb-4">
        <div class="h-1 mx-auto bg-primary w-64 opacity-25 my-0 py-0 rounded-t mb-10"></div>
      </div>
      <br><br>


      <div class="lazy-div" style="opacity: 1; transform: none;">
        <div>
          <div class="container clearfix">
            <div class="chat">
              <div class="chat-header clearfix">
                <img src="https://soqa-web.herokuapp.com/images/botAvatarTwo.png" alt="avatar" width="50"
                  style="border-radius: 100%;" />

                <div class="chat-about">
                  <div class="chat-with">SOQA Bot Assistant</div>
                  <div class="chat-num-messages">Get intelligent answers to your questions!</div>
                </div>
                <i class="fa fa-star"></i>
              </div> <!-- end chat-header -->

              <div class="chat-history">
                <ul>
                  <li>
                    <div class="message-data">
                      <span class="message-data-name"><i class="fa fa-circle online"></i> Assistant</span>
                      <span class="message-data-time">10:12 AM, Today</span>
                    </div>
                    <div class="message my-message">
                      Hi! I am your assistant at SOQA. Feel free to shoot any question!
                    </div>
                  </li>

                </ul>

              </div> <!-- end chat-history -->

              <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message"
                  rows="2"></textarea>

                <div class="align-self:center">
                  <label class="switch">
                    <input id="toggle" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>
                <span style="color: rgb(131, 120, 120); font-size: 12px;">Conversational Mode</span>
                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>

                <button id="send">Send</button>

              </div> <!-- end chat-message -->

            </div> <!-- end chat -->

          </div> <!-- end container -->

          <script id="message-template" type="text/x-handlebars-template">
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >You</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
              {{messageOutput}}
            </div>
          </li>
        </script>

          <script id="message-response-template" type="text/x-handlebars-template">
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Assistant</span>
              <span class="message-data-time">{{time}}, Today</span>
            </div>
            <div class="message my-message">
              {{response}}
            </div>
          </li>
        </script>

          <script>
            (function () {

              var currentQuestion = '';
              var doclist = [];

              var chat = {
                messageToSend: '',
                messageResponses: [
                  'Oh I didn\'t quite understand that. Give another go!',
                  'Sometimes I am very accurate. But sometimes, I just feel dizzy',
                  'Umm, about me? I am SOQA, made to be your intelligent assistant to improve learning',
                  'I just don\'t know the answer to this.'
                ],
                init: function () {
                  this.cacheDOM();
                  this.bindEvents();
                  this.render();
                },
                cacheDOM: function () {
                  this.$chatHistory = $('.chat-history');
                  this.$button = $('button');
                  this.$textarea = $('#message-to-send');
                  this.$chatHistoryList = this.$chatHistory.find('ul');
                },
                bindEvents: function () {
                  this.$button.on('click', this.addMessage.bind(this));
                  this.$textarea.on('keyup', this.addMessageEnter.bind(this));
                },
                render: async function () {
                  this.scrollToBottom();
                  if (this.messageToSend.trim() !== '') {
                    var template = Handlebars.compile($("#message-template").html());
                    var context = {
                      messageOutput: this.messageToSend,
                      time: this.getCurrentTime()
                    };

                    this.$chatHistoryList.append(template(context));
                    this.scrollToBottom();
                    this.$textarea.val('');

                    // responses
                    var templateResponse = Handlebars.compile($("#message-response-template").html());
                    var openAI;
                    // await axios({
                    //   url: 'https://api.openai.com/v1/answers',
                    //   headers: {
                    //     'Authorization': `Bearer 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`,
                    //     'Content-Type': 'application/json'
                    //   },
                    //   data: JSON.stringify({
                    //     "documents": doclist,
                    //     "question": String(currentQuestion),
                    //     "search_model": 'ada',
                    //     "model": 'davinci',
                    //     "examples_context": "examples of implementations using deep learning are chatbots that handle customer service requests",
                    //     "examples": [["What is one application of NLP using deeplearning?", "chatbots are one example that handle customer service requests"]],
                    //     "max_tokens": 100,
                    //     "n": 1,
                    //     "stop": ["<|endoftext|>"]
                    //   }),
                    //   method: 'POST'
                    // }).then((response) => {
                    //   openAI = String(response.data.answers);
                    //   openAI = openAI.replace(/[^a-zA-Z ]/g, "");
                    //   console.log(openAI);
                    // })
                    //https://tranquil-springs-69938.herokuapp.com
                    await axios({
                      url: `https://tranquil-springs-69938.herokuapp.com/api/answers/philosphy-playground?question=${String(currentQuestion)}&&mode=${document.getElementById('toggle').checked ? 'conversational' : 'strict'}`,
                      method: 'GET'
                    }).then((response) => {
                      console.log(document.getElementById('toggle').checked);
                      let randomNumber = Math.floor(Math.random() * (3 - 0 + 1)) + 0;
                      if (response.data.answer.length === 0 || response.data.answer === 'Sorry' || response.data.apiresponse === false) {
                        openAI = this.messageResponses[randomNumber];
                      } else {
                        openAI = response.data.answer.substr(currentQuestion.trim().length, response.data.answer.length);
                      }
                    })
                    var contextResponse = {
                      response: openAI,
                      time: this.getCurrentTime()
                    };

                    setTimeout(function () {
                      this.$chatHistoryList.append(templateResponse(contextResponse));
                      this.scrollToBottom();
                    }.bind(this), 1500);

                  }

                },

                addMessage: function () {
                  this.messageToSend = this.$textarea.val()
                  currentQuestion = this.$textarea.val()
                  this.render();
                },
                addMessageEnter: function (event) {
                  // enter was pressed
                  if (event.keyCode === 13) {
                    this.addMessage();
                  }
                },
                scrollToBottom: function () {
                  this.$chatHistory.scrollTop(this.$chatHistory[0]?.scrollHeight ? this.$chatHistory[0].scrollHeight : 0);
                },
                getCurrentTime: function () {
                  return new Date().toLocaleTimeString().
                    replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
                },
                getRandomItem: function (arr) {
                  return arr[Math.floor(Math.random() * arr.length)];
                }

              };

              chat.init();

              var searchFilter = {
                options: { valueNames: ['name'] },
                init: function () {
                  var userList = new List('people-list', this.options);
                  var noItems = $('<li id="no-items-found">No items found</li>');

                  userList.on('updated', function (list) {
                    if (list.matchingItems.length === 0) {
                      $(list.list).append(noItems);
                    } else {
                      noItems.detach();
                    }
                  });
                }
              };

              searchFilter.init();

            })();

          </script>


        </div>
      </div>




      <br>
      <div class="lazy-div" style="opacity: 1; transform: none;">
        <!-- <canvas id="canvas" width="387" height="220"></canvas> -->
        <img alt="waves" src="https://soqa-web.herokuapp.com/images/waves.png">
        <div id="about" class="mx-auto container xl:px-20 lg:px-12 sm:px-6 px-4 py-12">
          <div class="flex flex-col items-center justify-center">
            <div><img src="https://soqa-web.herokuapp.com/images/logo.png" alt="SOQA the Intelligent Bot"
                class="w-16 h-16">
            </div>
            <!-- <div class="flex flex-wrap sm:gap-10 gap-8 items-center justify-center mt-4 h-12"><a href="#"
                class="hover:text-primary text-base cursor-pointer leading-4 text-gray-800 dark:text-gray-400 dark:hover:text-white">Something</a><a
                href="#"
                class="hover:text-primary text-base cursor-pointer leading-4 text-gray-800 dark:text-gray-400 dark:hover:text-white">Something</a><a
                href="#"
                class="hover:text-primary text-base cursor-pointer leading-4 text-gray-800 dark:text-gray-400 dark:hover:text-white">Something</a><a
                href="#"
                class="hover:text-primary text-base cursor-pointer leading-4 text-gray-800 dark:text-gray-400 dark:hover:text-white">Something</a>
            </div> -->
            <div class="flex items-center gap-x-8 mt-6 h-8"><a aria-label="github" href="" target="_blank"
                rel="noreferrer"><svg class="fill-current text-gray-800 dark:text-white hover:text-primary"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
                  </path>
                </svg></a><a aria-label="linkedin" href="" target="_blank" rel="noreferrer"><svg
                  class="fill-current text-gray-800 dark:text-white hover:text-primary"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z">
                  </path>
                </svg></a><a aria-label="twitter" href="" target="_blank" rel="noreferrer"><svg
                  class="fill-current text-gray-800 dark:text-white hover:text-primary"
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z">
                  </path>
                </svg></a></div>
            <div class="flex items-center mt-6">
              <p class="mt-6 text-xs lg:text-sm leading-none text-gray-900 dark:text-gray-50">©
                <!-- -->2022
                <!-- --> SOQA
                <!-- --> Bot
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>